VITE_FIREBASE_API_KEY=AIzaSyAp0kLZXhPucyQwT2FuMg0w0Dz19TczEcM
VITE_FIREBASE_AUTH_DOMAIN=casa-nova-presentes.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=casa-nova-presentes
VITE_FIREBASE_STORAGE_BUCKET=casa-nova-presentes.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=623736992594
VITE_FIREBASE_APP_ID=1:623736992594:web:a1bc7ed3b9ce0900e0408b